[submodule "thirdparty/SDL"]
	path = thirdparty/SDL
	url = https://github.com/SDL-mirror/SDL.git
[submodule "thirdparty/SDL_image"]
	path = thirdparty/SDL_image
	url = https://github.com/SDL-mirror/SDL_image.git
[submodule "thirdparty/SDL_mixer"]
	path = thirdparty/SDL_mixer
	url = https://github.com/SDL-mirror/SDL_mixer.git
[submodule "thirdparty/SDL_ttf"]
	path = thirdparty/SDL_ttf
	url = https://github.com/SDL-mirror/SDL_ttf.git
[submodule "jni/boost"]
	path = thirdparty/boost
	url = https://github.com/davidsiaw/boost
[submodule "thirdparty/luacppinterface"]
	path = thirdparty/luacppinterface
	url = https://github.com/davidsiaw/luacppinterface
